<p>
  shopping-cart-list works!
</p>

<p>You have {{shoppingCartItems.length}} items in your bag</p>
<div *ngIf="this.shoppingCart" class="shop-info">
  <h2> {{ shoppingCart.userEmail }}</h2>
  <div *ngIf="shoppingCart.productsArray.length">
    <h4> Products </h4>
    <ul>
      <li *ngFor="let productsArray of shoppingCart.productsArray"> {{ productsArray }} </li>
    </ul>
  </div>
  <h3> {{ shoppingCart.totalPrice }} </h3>

  <button class="btn btn-danger" (click)="onClickPay()">Pay</button>
</div>




<!-- <div *ngFor="let item of shoppingCartItems">
  <spa-product
    [id]="item.id"
    [name]="item.name"
    [price]="item.price"
    [currency]="item.currency">
  </spa-product>
  <spa-color-list [colors]="item.colors"></spa-color-list>
  <button class="remove-item" (click)="removeItem(item)">Remove</button>
</div>
<p>Total: {{getTotal() | async}}</p> -->
