<div class="container-fluid bg-3 text-center">
<div class="product-info">


  <img class="product-image product-thumbnail" [src]="product.image" />
  <h2> {{ product.name }}</h2>
  <p> {{ product.description }}</p>
  <small class="product-price"> {{ product.price }} EUR</small>

</div>
</div>


  <div class="container-fluid bg-3 text-center">
  <button class="btn btn-secondary" (click)="onClickDelete()">Delete</button>
  <button class="btn btn-secondary" (click)="onClickEdit()">Edit</button>

  <button class="btn btn-danger" (click)="addToCart(product)">
       Add to bag
     </button>
     </div>
  <!-- <button class="btn btn-danger" (click)="onClickAddShoppingCart()">Buy</button> -->
