.product-info, .product-thumbnail {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.product-image {
  width: 300px;
  height: 50%;
  font-size: 3em;
  color: lightgray;
}

.product-price {
  font-weight: bold;
}
