
<div class="row d-flex justify-content-center">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <div class="text-center" data-gr-c-s-loaded="true">

    <form (ngSubmit)="onSubmitSignup(signupForm)" #signupForm="ngForm">
      <img class="mb-4" src="https://hipertextual.com/files/2017/10/Instagram-1000x644.jpg" alt width="102" height="82">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <div class="form-group" [class.has-error]="email.errors && email.touched">
        <div class="input-group">
        <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="user.name" #name="ngModel" required>
        </div>
        <label class="control-label" *ngIf="name.errors && name.touched">
          <ul>
            <li *ngIf="name.errors.required">Required</li>
          </ul>
        </label>
      </div>

      <div class="form-group" [class.has-error]="email.errors && email.touched">
        <div class="input-group">
        <input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" #email="ngModel" required email>
        </div>
        <label class="control-label" *ngIf="email.errors && email.touched">
          <ul>
            <li *ngIf="email.errors.required">Required</li>
            <li *ngIf="email.errors.email">Invalid email format</li>
          </ul>
        </label>
      </div>

      <div class="form-group" [class.has-error]="password.errors && password.touched">
        <div class="input-group">
        <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required>
        </div>
        <label class="control-label" *ngIf="password.errors && password.touched">
          <ul>
            <li *ngIf="password.errors.required">Required</li>
          </ul>
        </label>
      </div>

        <div class="form-group" class="has-error" *ngIf="apiError">
          <label class="control-label">
            {{ apiError }}
          </label>
        </div>


        <div class="form-actions">
          <button type="submit" class="btn btn-secondary" [disabled]="!signupForm.valid">Sign up!</button>
        </div>
    </form>

    <hr>
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        All ready have an account?
        <a [routerLink]="['/login']">Log in</a>
      </div>

    </div>
</div>
</div>
</div>
