<div>

  <div *ngIf="this.shop" class="shop-info">
    <h2> {{ shop.name }}</h2>
    <h3> {{ shop.list }} </h3>
    <img height="300" [src]="shop.image" />

    <div *ngIf="shop.specs.length">
      <h4> Features </h4>
      <ul>
        <li *ngFor="let spec of shop.specs"> {{ spec }} </li>
      </ul>
    </div>
    <button class="btn btn-danger" (click)="onClickDelete()">Delete</button>
  </div>

  <div *ngIf="this.shop" class="product-info">

    
    <ul *ngFor="let product of shop.products">
      <li> {{ product.name }}</li>
      <li> {{ product.price }} </li>
      <li><img height="300" [src]="product.image" /></li>
    </ul>
  </div>

</div>
