.shop-info, .shop-thumbnail {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

ul {
list-style-type: none;
}

.container {
    position: relative;
   /* Maximum width */
    margin: 0 auto; /* Center it */
}

.container .content {
 /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
   /* Some padding */
}
